# CMU CORPUS

In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

data = pd.read_csv("movie.metadata.tsv", sep="\t", header=None)
data.head()

,0,1,2,3,4,5,6,7,8
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [110]:
data.columns = ["movie_id",1,"movie_name","year",4,5,6,7,"genre"]
data["year"] = data["year"].astype(str).str[:4]


#data = data.drop(columns=[1,4,5,6,7])
data.head()

,movie_id,1,movie_name,year,4,5,6,7,genre
0,975900,/m/03vyhn,Ghosts of Mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [111]:
import json

# an empty list
languages = [] 

# extract languages from column 6
for i in data.iloc[:, 6]: 
  languages.append(list(json.loads(i).values())) 

# add to 'movies' dataframe
data['genre_new'] = languages

#data = data.drop(columns=["genre"])
data.head()

,movie_id,1,movie_name,year,4,5,6,7,genre,genre_new
0,975900,/m/03vyhn,Ghosts of Mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",[English Language]
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",[English Language]
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",[Norwegian Language]
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",[English Language]
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",[German Language]

In [112]:
data.shape

(81741, 10)

In [113]:
# drop every row where genre_new does not contain English Language
data = data[data['genre_new'].apply(lambda x: 'English Language' in x)]
data.head()

,movie_id,1,movie_name,year,4,5,6,7,genre,genre_new
0,975900,/m/03vyhn,Ghosts of Mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",[English Language]
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",[English Language]
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",[English Language]
5,13696889,/m/03cfc81,The Gangsters,1913,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen...","[Silent film, English Language]"
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",[English Language]

In [114]:
data.shape

(40891, 10)

In [115]:
# create dataframe from plot_summaries.txt
plot_summaries = pd.read_csv("plot_summaries.txt", sep="\t", header=None)
plot_summaries.columns = ["movie_id", "plot"]
plot_summaries.head()

# Convert the 'movie_id' column in both dataframes to int
data['movie_id'] = data['movie_id'].astype(int)
plot_summaries['movie_id'] = plot_summaries['movie_id'].astype(int)

# Now merge the dataframes on the 'movie_id' column
data = pd.merge(data, plot_summaries, on="movie_id")
data.head()

,movie_id,1,movie_name,year,4,5,6,7,genre,genre_new,plot
0,975900,/m/03vyhn,Ghosts of Mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",[English Language],"Set in the second half of the 22nd century, th..."
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",[English Language],A series of murders of rich young women throug...
2,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",[English Language],"Every hundred years, the evil Morgana returns..."
3,6631279,/m/0gffwj,Little city,1997,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ...",[English Language],"Adam, a San Francisco-based artist who works a..."
4,171005,/m/016ywb,Henry V,1989,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",[English Language],{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...

In [116]:
import json

# an empty list
genres = [] 

# extract genres
for i in data['genre']: 
  genres.append(list(json.loads(i).values())) 

# add to 'movies' dataframe
data['genre_new1'] = genres

data = data.drop(columns=["genre"])
data.head()

,movie_id,1,movie_name,year,4,5,6,7,genre_new,plot,genre_new1
0,975900,/m/03vyhn,Ghosts of Mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",[English Language],"Set in the second half of the 22nd century, th...","[Thriller, Science Fiction, Horror, Adventure,..."
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}",[English Language],A series of murders of rich young women throug...,"[Thriller, Erotic thriller, Psychological thri..."
2,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}",[English Language],"Every hundred years, the evil Morgana returns...","[Family Film, Fantasy, Adventure, World cinema]"
3,6631279,/m/0gffwj,Little city,1997,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",[English Language],"Adam, a San Francisco-based artist who works a...","[Romantic comedy, Ensemble Film, Comedy-drama,..."
4,171005,/m/016ywb,Henry V,1989,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}",[English Language],{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...,"[Costume drama, War film, Epic, Period piece, ..."

In [117]:
# check for missing values in the dataframe
movies = data[~(data['genre_new'].str.len() == 0)]
movies.shape, data.shape

((24775, 11), (24775, 11))

# API STUFF TESTING

In [ ]:
import requests

api_key = "b58bb13f"
movie_name = "ghosts of mars"
year = 2001
url = f"http://www.omdbapi.com/?t={movie_name}&y=year&plot=full&apikey={api_key}"

response = requests.get(url)

if response.status_code == 200:
    movie_data = response.json()
    print(movie_data)
else:
    print(f"Error: {response.status_code} - {response.text}")

In [ ]:
# a list containing key value pairs of the 10 first movies in the dataframe and their year
example_list = []
for i in range(10):
    example_list.append((movies.iloc[i]["movie_name"], movies.iloc[i]["year"]))
print(example_list)

In [ ]:
api_example_list = []

# get the data from the api for the 10 first movies in example_list
# if {"Response":"False","Error":"Movie not found!"} is printed, the movie was not found

for movie, year in example_list:
    url = f"http://www.omdbapi.com/?t={movie}&y={year}&plot=full&apikey={api_key}"
    response = requests.get(url)
    if response.status_code == 200:
        movie_data = response.json()
        if movie_data["Response"] != "False":
            api_example_list.append(movie_data)
    else:
        print(f"Error: {response.status_code} - {response.text}")

for movie in api_example_list:
    print(movie)

In [ ]:
api_example_df = pd.DataFrame(api_example_list)
api_example_df = api_example_df[["Title", "Year", "Genre", "Plot"]]
api_example_df.head()